<!DOCTYPE html>
<html>
<head>
    <title>Update</title>
</head>
<body>
    <form method="post">
        <fieldset>

            <legend>Update Page!</legend>
            <table border="1">
            	<tr>
            		<th>EmpID</th> <th>Name</th><th>Phone</th><th>Gender</th><th>Designation</th colspan="2"><th>Actions</th> 
            	</tr>
            	<tr>
            		<td>1</td> <td>Towsif</td> <td>01958922970</td> <td>Male</td> <td>Junior Developer</td>
            		<td><input type="submit" name="Update" value="Update"></td>
            		<td><input type="submit" name="Delete" value="Delete"></td>
            	</tr>
            	<tr>
            		<td>2</td> <td>Mike</td> <td>01634922970</td> <td>Male</td> <td>Developer</td>
            		<td><input type="submit" name="Update" value="Update"></td>
            		<td><input type="submit" name="Delete" value="Delete"></td>
            	</tr>
            	<tr>
            		<td>3</td> <td>Mita</td> <td>01858922970</td> <td>Female</td> <td>Senior Developer</td>
            		<td><input type="submit" name="Update" value="Update"></td>
            		<td><input type="submit" name="Delete" value="Delete"></td>
            	</tr>
            	<tr>
            		<td>1</td> <td>Imran</td> <td>01723152970</td> <td>Male</td> <td>Junior Developer</td>
            		<td><input type="submit" name="Update" value="Update"></td>
            		<td><input type="submit" name="Delete" value="Delete"></td>
            	</tr>

            </table>
        </fieldset>
    </form>
</body>