<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Profile Info</legend>
            <table>
              <tr>
                <td>Employee name: Towsif </td>
              </tr>
              <tr>
                <td>Employee Phone:01951953902</td>
              </tr>
              <tr>
                <td>Gender: Male</td>
              </tr>
              <tr>
                <td>Designation: Junior Developer</td>
              </tr>
              <tr>
                <td><input type="submit" value="Back"></td>
              </tr>
            </table>
        </fieldset>
    </form>
</body>
